* {
	transition: all ls;
}

body {
	font-family: monospace;
	background: rgb(30, 50, 50);
	perspective: 1000px;
}

#user-name {
	font-size: 1.2rem;
	padding-left: 10%;
}

#user-prof {
	font-size: 1.2rem;
	padding-left: 10%;
}

.terminal {
	white-space: nowrap;
	letter-spacing: .05em;
	padding-left: 1vw;
	font-size: 1rem;
	font-weight: 600;
	color: rgb(120, 210, 120);
}

.cd-select {
	display: flex;
	color: rgb(170, 170, 170);
	padding-left: 12%;
	padding-top: 3vh;

}

a:hover {
	color: rgb(150, 250, 150);
}


.terminal-win {
	display: block;
	overflow: auto;
	background: rgb(48, 48, 48);
	border: 1px solid #ccc;
	font-size: 14px;
	font-family: monospace;
	padding: 0.5vh 0.25vw;
	box-shadow: -8px 8px 4px 0 rgba(0, 0, 0, 0.3);
	white-space: pre-wrap;
	outline: 0;
	margin: 10vh 5%;
}

@media only screen and (min-width: 768px) {
	.terminal-win {
		margin: 10vh 5%;
		width: 65vw;
		height: 80vh;
		max-height: 90vh;
	}
}

@media only screen and (max-width: 768px) {
	.terminal-win {
		margin: unset;
		width: 98%;
		height: 80vh;
		max-height: 80vh;
	}
}

#home-button {
	position: -webkit-sticky;
	position: sticky;
	bottom: 10px;
	margin: 10% auto;
}
