@keyframes typing {
	from {
		width: 2ch
	}

	to {
		width: 30%
	}
}

@keyframes blink-caret {

	from,
	to {
		border-color: transparent
	}

	50% {
		border-color: green;
	}
}


body {
	font-family: 'Courier New', monospace;
	background: black;
}

#user-name {
	font-size: 1.2rem;
	padding-left: 10%;
}

#user-prof {
	font-size: 1.2rem;
	padding-left: 10%;
}

.terminal {
	overflow: hidden;
	white-space: nowrap;
	border-right-color: green;
	letter-spacing: .05em;
	padding-left: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 1rem;
	font-weight: 600;
	display: block;
	color: rgb(160, 250, 160);
}

.cd-select {
	display: flex;
	color: rgb(170, 170, 170);
	padding-left: 12%;
	padding-top: 3vh;

}

a:hover {
	color: rgb(150, 250, 150);
}
